
.container-home{

}

.container-navbar{
    position: fixed;
    top: 0;
    background-color: #E3451A;
    height: 70px;
    width: 100%;
    z-index: 10;
}


.navbar{
    display: flex;
    justify-content: space-around;
    list-style:none;
    padding: 0px 10%;
}
.group-navbar-left{
    flex: 1;
    display: flex;
    height: 70px;
}

.group-navbar-right{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 70px;

}
.item-navbar-left{
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(18px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    color: #FFF;
    margin: 0px 30px ;
    transition:  0.5s;

}
.logo{
    cursor: pointer;
    font-weight: 800 !important;
    font-size: calc(25px + (12 - 11) * ((100vw - 320px) / (1920 - 320))) !important;
}

.item-navbar-text-left{
    background-color: transparent;
    border: none;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(18px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    color: #FFF;
    margin: 0px 30px ;
    
}

.item-navbar-right{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(18px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    color: #FFF;
    margin: 0px 30px ;
    transition:  0.5s;
}

.item-navbar-left:hover , .item-navbar-right:hover{
    color: tomato;
}



/* CATALOGO */

.catalogue{
    padding: 0px 10%;

}

.title-catalogue{
    margin-top: 150px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(25px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    color: #E3451A;
    text-transform: uppercase;
    animation-name: example;
    animation-duration: 4s;
   
}

.itens-catalogue{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
   
}
.item-catalogue{
    width: 21%;
    margin: 0px 1% 30px;
    padding: 1%;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 0px 0px rgba(0,0,0,0.23);
}

.img-product{
    width: 100%;
}
.product-data{
    height: 70px;
}
.name-product{
    margin: 15px auto;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(20px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 800;
    color: #E3451A;
}

.price-product{
    margin: 15px auto;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(20px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 800;
    color: #808080;
}

.btn-add-to-cart{
    margin-top: 20px;
    width: 100%;
    height: 55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(16px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    background-color: #E3451A;
    border: none;
    cursor: pointer;
}

.btn-add-to-cart:hover{
    transition:  0.5s;
    color: #E3440C;
    background-color: #c92100;
    animation-name: catalogue;
    animation-duration: 0.5s;
}



/* CARRINHO DE COMPRAS */

.container-cart{
    display: none;
    justify-content: flex-end;

    background-color: #FFF;

}
.cart{
    margin-top: 70px;
    position: fixed;
    background-color: #FFF;
    width: 450px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}


.title-cart{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 75px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(20px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 800;
    color: #E3451A;

    box-shadow: 0 0px 0px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-close-cart{
    display: none;
    cursor: pointer;
    transition:  0.5s;
}
.btn-close-cart:hover{
    color: #c92100;
}
.descripction-product{
    display: flex;
    padding: 0px 22px;
    line-height: 75px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(16px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    color: #E3451A;
}

.itens-description-product{
    flex: 1;
}
.qtd-description-product{
    flex: 1; 
    margin-left: 85px;
}

.itens-cart{
    padding: 5px 20px;
    max-height: 300px;
    overflow-y: visible;
    overflow-x: hidden;
}
.item-cart{
   
}
.data-item-cart{
    display: flex;
}

.img-item-cart{
    width: 50%;
    height: 150px;
}


.qtd-item-cart, .data-item-cart{
    flex: 1;
    margin: 5px;
}


.qtd-item-cart button{
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(16px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    color: #FFF;
    background-color: #E3451A;
    border: none;
    line-height: 15px;
    height: 25px;
    width: 25px;
    transition:  0.5s;
    cursor: pointer;
    margin: 60px 8px;
}

.qtd-item-cart button:hover{
    color: #E3440C;
    background-color: #c92100;
}

.qtd-item-cart span{
   
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(16px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
   
    padding: 0px 10px;
}


.btn-trash-cart{
    margin-left: 20px !important;
    background-color: #fff !important;
    color: #E3451A !important;
}


.id-item-cart{
    margin: 20px;
    display: flex;

}

.name-item-cart{
    flex: 1;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(18px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    color: #E3451A;
}

.price-item-cart{
    flex: 1;
    text-align: right;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(18px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    color: #808080;
}

.total-cart{
    display: flex;
    margin-top: 50px;
    padding: 25px 30px;
    height: 25px;
    box-shadow: 0 -5px 8px rgba(0,0,0,0.16), 0 0px 0px rgba(0,0,0,0.23);
}


.title-total{
    flex: 1;
  
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(20px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    text-transform: uppercase;
    color: #E3451A;

}

.value-total{
    text-align: right;
    flex: 1;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(20px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    text-transform: uppercase;
    color: #808080;
    
}

.container-btn-buy-cart{
    padding: 30px 30px;
}

.btn-finish-buy{

    width: 100%;
    height: 55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: calc(25px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    background-color: #E3451A;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1500px) and (min-width: 1250px){

    .item-catalogue{
        width: 29.3%;
    }
}

@media screen and (max-width: 1250px) and (min-width: 800px){

    .item-catalogue{
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .item-navbar-text-left{
        background-color: transparent;
        border: none;
        line-height: 70px;
        font-family: 'Montserrat', sans-serif;  
        font-size: calc(25px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
        
        color: #FFF;
        margin: 0px 0px ;
    }



    .name-usuario{
        display: none;
    }
    .item-catalogue{
        width: 100%;
    }

    .cart{
        position: absolute;
        background-color: #FFF;
        width: 90%;
        padding: 0px 5%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .total-cart{
        box-shadow: 0 0px 0px rgba(0,0,0,0), 0 3px 0px rgba(0,0,0,0.23);
    }


    .title-cart{
        box-shadow: 0 0px 0px rgba(0,0,0,0), 0 3px 0px rgba(0,0,0,0.23);
    }

    .btn-close-cart{
        display: block;
    }

    .img-item-cart{
        width: 40%;
        height: 150px;
    }
}

/* ANIMAÇÕES */

@keyframes example {
    from {margin-top: -150px;}
    to {margin-top: 150px;}
  }



  @keyframes catalogue {
    0% {margin: 0px;    margin-top: 20px;}
    25% {margin-right: 0px;    margin-top: 20px;}
    50% {margin-left: -5px;    margin-top: 20px;}
    75% {margin-right: 0px;    margin-top: 20px;}
    100% {margin: 0px;    margin-top: 20px;}
  }